*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 60px;
    width: 100px;

}
.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;

}
.border{
    border: 2px solid  transparent;
}
.border:hover{
    border: 2px solid white;
    border-radius: 2px;
}
.adress-icon{
    display: flex
}
.ad-1{
    font-size: 15px;
    margin-left: 12px;
    color: #ccc;
}
.ad-2{
    font-size: 17px;
    color: #fff;
    margin-left: 5px;
}
.nav-search{
    display: flex;
    height: 40px;
    width: 850px;
    border-radius: 5px;
    background-color: aqua;
    justify-content: space-between;
    
}
.nav-search:hover{
    border: 2px solid #edaa0e;
}
.search-sele{
    width: 50px;
    color: #0F1111;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;

}
.search-inp{
    width: 100%;
    font-size: 15px;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #edaa0e;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0F1111;

}
span{
    font-size: .7rem;
}
.sign-2{
    font-size: .85rem;
    font-weight: 700;
}
.cart i{
    font-size: 30px;
}
.cart span{
    font-size: 1.25rem;
    font-weight: 700;
}
.panel{
    height: 39px;
    background-color: #232F3E;
    width: 100%;
    align-items: center;
    display: flex;
    color: white;
    justify-content: space-evenly;
}
.panel-all{
    color: white;
    display: flex;
    font-size: 20px;
    align-items: center;
    width: 58px;
    margin: 3px;
    height: 39px;
    
}
.panel-all span{
    font-size: 15px;
    margin-left: 3px;
}

.panel-opt p {
    display: inline;
    margin: 8px;
}
.panel-opt{
    display: flex;
margin-left: 8px;
    width: 80%;
    font-size: 15px;
    height: 39px;
    align-items: center;
}

.panel-deal{
    display: flex;
    height: 39px;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    

}
/* herosection */
.hero-section{
    background-image: url("hero_image.jpg");
    height: 400px;
    background-size:cover ;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}
.hero-message{
    background-color: #fff;
    width: 90%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}
.box-inner{
    margin: 15px 7px 0px;
}
.box{
    height: 400px;
    /* border: 2px solid black; */
    width: 23%;
    background-color: white;
    margin-top: 15px;


}
.box-img{
    height: 320px;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
}
.box-inner p{
    margin-top:8px ;
    margin-left: 8px;
}
.box-inner a {
    color: #007185;
    font-size: 14px;
    text-decoration: none;
    
}
.foopat-nel1{
    height: 49px;
    color: white;
    background-color: #37475a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.foot-panel2{
    display: flex;
    background-color: #222f3d;
    height: 300px;
    color: white;
    justify-content: space-around;
    padding-top: 15px;

}

ul a {
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 6px;
}
ul p {
     font-weight: 700;
}
.foot-panel3{
    background-color: #222f3d;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid white;

}
.logo{
    background-image: url("amazon_logo.png");
    height: 60px;
    
}
.foot-panel4 {
    background-color: #131A22;
    

}
.page{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page a {
    color: white;
    display: block;
    margin-left: 4px;
    text-decoration: none;
    font-size: 12px;
}
.copy{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
}